[submodule "rt_logger"]
	path = rt_logger
	url = https://github.com/graiola/rt_logger.git
[submodule "setup"]
	path = setup
	url = git@github.com:graiola/wbc-setup.git
[submodule "wolf_descriptions"]
	path = wolf_descriptions
	url = git@github.com:graiola/wolf_descriptions.git
[submodule "wolf_gazebo_resources"]
	path = wolf_gazebo_resources
	url = git@github.com:graiola/wolf_gazebo_resources.git
[submodule "wolf_hardware_interface"]
	path = wolf_hardware_interface
	url = git@github.com:graiola/wolf_hardware_interface.git
[submodule "wolf_gazebo_interface"]
	path = wolf_gazebo_interface
	url = git@github.com:graiola/wolf_gazebo_interface.git
