#!/usr/bin/env python
PACKAGE = "dls_controller"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("toggle_solver"          , bool_t,   0, "toggle solver"          , False)
gen.add("toggle_relative_tasks"  , bool_t,   1, "toggle relative tasks"  , False)
gen.add("toggle_qp_estimation"   , bool_t,   2, "toggle qp estimation"   , False)
gen.add("duty_cycle"             , double_t, 3, "duty cycle"           , 0.9, 0, 1)

gaits_list = gen.enum([ gen.const("trot",        str_t, "trot",      "Trot"              ),
                        gen.const("bound",       str_t, "bound",     "Crazy Bound"       ),
                        gen.const("crawl",       str_t, "crawl",     "Baby Crawl"        ),
                        gen.const("one_foot",    str_t, "one_foot",  "One single foot"   )],
                        "Gaits")
gen.add("gaits", str_t, 4, "gaits", "crawl", edit_method=gaits_list)

gen.add("swing_frequency"         , double_t, 5, "swing frequency"                , 2.0  ,0.0 ,6.0)
gen.add("base_max_linear_vel"     , double_t, 6, "maximum base velocity"          , 0.0  ,0.0 ,1.0)
gen.add("base_max_angular_vel"    , double_t, 7, "maximum base rotation rate"     , 0.0 ,0.0 ,1.0)

exit(gen.generate(PACKAGE, "dls_controller", "DlsController"))
