#!/usr/bin/env python
PACKAGE = "dls_controller"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("toggle_solver"  , bool_t, 0, "toggle solver"  , False)
gen.add("toggle_tracking", bool_t, 1, "toggle tracking", False)
gen.add("toggle_pid", bool_t, 2, "toggle pid", True)

gen.add("swing_frequency"  , double_t, 3, "swing frequency"  , 1.5, 0, 10)
gen.add("contact_threshold", double_t, 4, "contact threshold", 0.03  , 0, 10)

gen.add("rf_foot_lambda", double_t, 5, "rf foot lambda ", 1000.0,  0, 10000)
gen.add("lf_foot_lambda", double_t, 5, "lf foot lambda ", 1000.0,  0, 10000)
gen.add("rh_foot_lambda", double_t, 5, "rh foot lambda ", 1000.0,  0, 10000)
gen.add("lh_foot_lambda", double_t, 5, "lh foot lambda ", 1000.0,  0, 10000)
gen.add("com_lambda"    , double_t, 5, "com_lambda"     , 800.0,   0, 10000)
gen.add("waist_lambda"  , double_t, 5, "waist_lambda"   , 400.0,   0, 10000)

exit(gen.generate(PACKAGE, "dls_controller", "DlsController"))
