#!/usr/bin/env python
PACKAGE = "dls_controller"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("toggle_solver"          , bool_t,   0, "toggle solver"          , False)
gen.add("toggle_relative_tasks"  , bool_t,   1, "toggle relative tasks"  , False)
gen.add("toggle_tracking"        , bool_t,   2, "toggle tracking"        , False)
gen.add("duty_cycle"             , double_t, 3, "duty cycle"           , 0.9, 0, 1)

gen.add("com_lambda"           , double_t, 4, "com lambda"     , 800.0,   0, 10000)
gen.add("waist_lambda"         , double_t, 4, "waist lambda"   , 400.0,   0, 10000)
gen.add("postural_lambda"      , double_t, 4, "postural lambda", 400.0,   0, 10000)

gaits_list = gen.enum([ gen.const("trot",        str_t, "trot",      "Trot"         ),
                        gen.const("bound",       str_t, "bound",     "Crazy Bound"  ),
                        gen.const("crawl",       str_t, "crawl",     "Baby Crawl"   )],
                        "Gaits")
gen.add("gaits", str_t, 5, "gaits", "crawl", edit_method=gaits_list)

gen.add("swing_frequency"      , double_t, 6, "swing frequency"                , 2.0  ,0.0 ,6.0)
gen.add("base_max_vel"         , double_t, 7, "maximum base velocity"          , 0.1  ,0.0 ,0.5)
gen.add("base_max_rot_rate"    , double_t, 8, "maximum base rotation rate"     , 0.05 ,0.0 ,0.25)

exit(gen.generate(PACKAGE, "dls_controller", "DlsController"))
