<launch>
  <arg name="gui"  default="true" />
  <param name="robot_description" command="$(find xacro)/xacro $(find aliengo_description)/robots/aliengo.urdf.xacro --inorder" />

  <!-- Joint state publisher -->
  <node name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" output="screen">
    <param name="use_gui"           value="true"/>
    <param name="rate"              value="100"/>
  </node>

  <!-- Robot state publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
    <param name="publish_frequency" value="100"/>
    <param name="use_tf_static"     value="true"/>
  </node>

  <group if="$(arg gui)">
    <node
     type="rviz"
     name="rviz"
     pkg="rviz"/>
  </group>

</launch>
