<launch>
  <arg name="robot_name" default="hyqreal"/>
  <arg name="extra_controllers" default=""/>

  <!-- Load controller config -->
  <rosparam command="load" file="$(find dls_controller)/config/$(arg robot_name)_params.yaml" ns="$(arg robot_name)"/>

  <!-- Spawn controllers -->
  <node name="controller_spawner"
        ns="$(arg robot_name)"
        pkg="controller_manager" type="spawner" output="screen"
        args="dls_controller $(arg extra_controllers)" />
</launch>
