<launch>
    <arg name="robot_name" default="hyqreal"/>

    <param name="$(arg robot_name)/dls_controller/robot_description" textfile="$(find dls_controller)/robots/$(arg robot_name)/hyqreal-teleop.urdf"/>
    <param name="$(arg robot_name)/dls_controller/robot_description_semantic" textfile="$(find dls_controller)/robots/$(arg robot_name)/hyqreal-teleop.srdf"/>
    <param name="$(arg robot_name)/dls_controller/problem_description" textfile="$(find dls_controller)/problems/ik.yaml"/>
    <!-- Loading robot states controller configurations from YAML file to parameter server -->
    <rosparam file="$(find dls_controller)/config/joint_state_publisher.yaml" ns="/$(arg robot_name)" command="load"/>


     <include file="$(find dls_controller)/launch/dls_controller_spawn.launch">
            <arg name="robot_name" value="$(arg robot_name)" />
     </include>

     <!-- convert joint states to TF transforms for rviz, etc -->
    <node name="$(arg robot_name)_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
        <remap from="/joint_states" to="/$(arg robot_name)/joint_states"/>
    </node>


  <node pkg="robot_state_publisher" type="robot_state_publisher" name="ci_state_publisher" >
    <param name="tf_prefix" value="ci" type="str"/>
    <remap from="/joint_states" to="/$(arg robot_name)/ci/joint_states" />
    <!--<remap from="/tf" to="/ci/tf" />-->
    <!--<remap from="/tf_static" to="/ci/tf_static" />-->
  </node>

</launch>
