#!/usr/bin/env python
PACKAGE = "wb_controller"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("toggle_solver"                 , bool_t,   0, "toggle solver"                  , False)
gen.add("toggle_inertia_compensation"   , bool_t,   1, "activate the inertia compesantion at the joints" , False)
gen.add("duty_factor"                   , double_t, 2, "duty factor"                     , 0.4, 0, 1)

gaits_list = gen.enum([ gen.const("trot",           str_t, "trot",         "Trot"              ),
                        gen.const("crawl",          str_t, "crawl",        "Baby Crawl"        )],
                        "Gaits")
gen.add("gaits", str_t, 3, "gaits", "crawl", edit_method=gaits_list)

gen.add("swing_frequency"         , double_t, 4,   "swing frequency"               , 0.0  ,0.0 ,6.0)
gen.add("base_linear_vel"         , double_t, 5,   "base linear velocity"          , 0.0  ,0.0 ,1.0)
gen.add("base_angular_vel"        , double_t, 6,   "base angular velocity"         , 0.0  ,0.0 ,1.0)
gen.add("step_height"             , double_t, 7,   "step height"                   , 0.0  ,0.0 ,0.2)
gen.add("contact_force_th"        , double_t, 8,   "contact force threshold"      , 0.0  ,0.0 ,100.0)
gen.add("clik_gain"               , double_t, 9,   "closed loop kinematics proporional gain"   , 0.0  ,0.0 ,1000.0)

stacks_list = gen.enum([ gen.const("walking",               str_t, "walking",             "walking"             ),
                         gen.const("manipulation",          str_t, "manipulation",        "manipulation"        )],
                        "Stacks")
gen.add("stacks", str_t, 15, "stacks", "walking", edit_method=stacks_list)

exit(gen.generate(PACKAGE, "wb_controller", "controller"))
