#!/usr/bin/env python
PACKAGE = "wb_controller"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("toggle_solver"          , bool_t,   0, "toggle solver"                  , False)
gen.add("haptic_contact_loop"    , bool_t,   1, "close the contact haptic loop"  , False)
gen.add("duty_cycle"             , double_t, 2, "duty cycle"                     , 0.9, 0, 1)

gaits_list = gen.enum([ gen.const("trot",           str_t, "trot",         "Trot"              ),
                        gen.const("bound",          str_t, "bound",        "Crazy Bound"       ),
                        gen.const("crawl",          str_t, "crawl",        "Baby Crawl"        ),
                        gen.const("one_foot_lf",    str_t, "one_foot_lf",  "One single foot"   ),
                        gen.const("one_foot_rh",    str_t, "one_foot_rh",  "One single foot"   ),
                        gen.const("one_foot_rf",    str_t, "one_foot_rf",  "One single foot"   ),
                        gen.const("one_foot_lh",    str_t, "one_foot_lh",  "One single foot"   )],
                        "Gaits")
gen.add("gaits", str_t, 3, "gaits", "crawl", edit_method=gaits_list)

gen.add("swing_frequency"         , double_t, 4, "swing frequency"                , 2.0  ,0.0 ,6.0)
gen.add("base_max_linear_vel"     , double_t, 5, "maximum base velocity"          , 0.0  ,0.0 ,1.0)
gen.add("base_max_angular_vel"    , double_t, 6, "maximum base rotation rate"     , 0.0  ,0.0 ,1.0)

exit(gen.generate(PACKAGE, "wb_controller", "controller"))
