#!/usr/bin/env python
PACKAGE = "wb_controller"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("toggle_solver"                 , bool_t,   0, "toggle solver"                  , False)
gen.add("toggle_haptic"                 , bool_t,   1, "close the haptic contact loop"  , False)
gen.add("toggle_base_height_control"    , bool_t,   2, "base height control"            , False)
gen.add("duty_cycle"                    , double_t, 3, "duty cycle"                     , 0.9, 0, 1)

gaits_list = gen.enum([ gen.const("trot",           str_t, "trot",         "Trot"              ),
                        gen.const("crawl",          str_t, "crawl",        "Baby Crawl"        )],
                        "Gaits")
gen.add("gaits", str_t, 4, "gaits", "crawl", edit_method=gaits_list)

gen.add("swing_frequency"         , double_t, 5,   "swing frequency"               , 0.0  ,0.0 ,6.0)
gen.add("base_linear_vel"         , double_t, 6,   "base linear velocity"          , 0.0  ,0.0 ,1.0)
gen.add("base_angular_vel"        , double_t, 7,   "base angular velocity"         , 0.0  ,0.0 ,1.0)
gen.add("step_height"             , double_t, 8,   "step height"                   , 0.0  ,0.0 ,0.2)
gen.add("contact_force_th"        , double_t, 9,   "contact force threshold"       , 0.0  ,0.0 ,100.0)
gen.add("pid_scale"               , double_t, 10,  "pid scale"                     , 0.0  ,0.0 ,1.0)
gen.add("cutoff_hz_qdot"          , double_t, 11,  "cutoff hz qdot"                , 0.0  ,0.0 ,300.0)
gen.add("cutoff_hz_gyro"          , double_t, 12,  "cutoff hz gyro"                , 0.0  ,0.0 ,300.0)
gen.add("x_err_gain"              , double_t, 13,  "x err gain"                    , 0.0  ,0.0 ,1000.0)


exit(gen.generate(PACKAGE, "wb_controller", "controller"))
