#!/usr/bin/env python
PACKAGE = "wb_controller"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("mu"               , double_t, 0, "Friction cones mu"  , 0.5, 0, 1)
gen.add("x_force_lower_lim", double_t, 1, "Lower force bound x", 0.0, -1000, 1000)
gen.add("y_force_lower_lim", double_t, 1, "Lower force bound y", 0.0, -1000, 1000)
gen.add("z_force_lower_lim", double_t, 1, "Lower force bound z", 0.0, -1000, 1000)
gen.add("minFs_weight"     , double_t, 2, "Force minimization weight", 0.0, 0.0, 10000)

exit(gen.generate(PACKAGE, "wb_controller", "problem"))
