#!/usr/bin/env python
PACKAGE = "wb_controller"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("lambda1", double_t, 0, "lambda1", 0.0,   0, 1000)
gen.add("lambda2", double_t, 0, "lambda2", 0.0,   0, 1000)
gen.add("weight",  double_t, 1, "weight" , 0.0,   0, 1000)

exit(gen.generate(PACKAGE, "wb_controller", "task"))
