#!/usr/bin/env python
PACKAGE = "wb_controller"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("lambda1",      double_t, 0, "lambda1",      0.0,   0, 1000)
gen.add("lambda2",      double_t, 0, "lambda2",      0.0,   0, 1000)
gen.add("weight_diag",  double_t, 1, "weight_diag",  0.0,   0, 10000)

exit(gen.generate(PACKAGE, "wb_controller", "taskCom"))
