#!/usr/bin/env python
PACKAGE = "wb_controller"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("lambda1",      double_t, 0, "lambda1",      0.0,   0, 1000)
gen.add("lambda2",      double_t, 0, "lambda2",      0.0,   0, 1000)
gen.add("weight_diag",  double_t, 1, "weight_diag",  0.0,   0, 1000)

gen.add("kp_x"    ,  double_t, 2, "kp_x"    ,  0.0,   0, 1000)
gen.add("kp_y"    ,  double_t, 2, "kp_y"    ,  0.0,   0, 1000)
gen.add("kp_z"    ,  double_t, 2, "kp_z"    ,  0.0,   0, 1000)
gen.add("kp_roll" ,  double_t, 2, "kp_roll" ,  0.0,   0, 1000)
gen.add("kp_pitch",  double_t, 2, "kp_pitch",  0.0,   0, 1000)
gen.add("kp_yaw"  ,  double_t, 2, "kp_yaw"  ,  0.0,   0, 1000)

gen.add("kd_x"    ,  double_t, 2, "kd_x"    ,  0.0,   0, 1000)
gen.add("kd_y"    ,  double_t, 2, "kd_y"    ,  0.0,   0, 1000)
gen.add("kd_z"    ,  double_t, 2, "kd_z"    ,  0.0,   0, 1000)
gen.add("kd_roll" ,  double_t, 2, "kd_roll" ,  0.0,   0, 1000)
gen.add("kd_pitch",  double_t, 2, "kd_pitch",  0.0,   0, 1000)
gen.add("kd_yaw"  ,  double_t, 2, "kd_yaw"  ,  0.0,   0, 1000)

exit(gen.generate(PACKAGE, "wb_controller", "taskCartesian"))
