<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">
	<xacro:property name="PI" value="3.1415926535897931"/>

	<!-- standard distances -->
	<!-- <xacro:property name="d_lr" value="0.414"/>
	<xacro:property name="d_fh" value="0.747"/> -->

	<xacro:property name="haa_lr" value="0.278"/>
	<!-- 0.194  0.34125 -->
	<xacro:property name="haa_fh" value="0.887"/>
	<!-- 0.887 1.4192-->
	
	<!-- kin limits (sign ref is RH leg)-->
	<xacro:property name="haa_max" value="23"/>   
	<xacro:property name="haa_min" value="-42"/>   
	<xacro:property name="hfe_max" value="135"/> 
	<xacro:property name="hfe_min" value="-135"/>   
	<xacro:property name="kfe_max" value="158.71"/> 
	<xacro:property name="kfe_min" value="38.38"/>  

        <!-- torque limits 120-->
        <xacro:property name="haa_limit" value="173.0"/>   
        <xacro:property name="hfe_limit" value="208"/>   
        <xacro:property name="kfe_limit" value="249"/> 
	
	<xacro:property name="trunkScale_width" value="${haa_lr/0.194}"/>
	<xacro:property name="trunkScale_length" value="${haa_fh/0.887}"/>

	<xacro:property name="hipassembly_length" value="0.117"/>
	<xacro:property name="upperleg_length" value="0.360"/>
	<xacro:property name="lowerleg_length" value="0.380"/>

	<!-- Knee offset angel in degree -->
	<xacro:property name="knee_offset_angle" value="-5.5"/>

	<!-- Inertial values -->
	<!-- Trunk with hydraulic system -->
	<xacro:property name="xcom_trunk" value=" 0.0149"/>
	<xacro:property name="ycom_trunk" value=" -0.00186"/>
	<xacro:property name="zcom_trunk" value="-0.034650"/>

        <!-- this mass is wothout HPUs and without batteries -->
        <xacro:property name="m_trunk" value="59.8"/>

	<xacro:property name="ixx_trunk" value="1.498728"/>
	<xacro:property name="iyy_trunk" value="9.492381"/>
	<xacro:property name="izz_trunk" value="9.012359"/>

	<xacro:property name="ixy_trunk" value="-0.007369"/>
	<xacro:property name="ixz_trunk" value="-0.189135"/>
	<xacro:property name="iyz_trunk" value=" 0.000185"/>
	
	
	<!-- Hip assembly -->
	<xacro:property name="xcom_hipassembly" value="-0.010027"/>
	<xacro:property name="ycom_hipassembly" value="-0.010608"/>
	<xacro:property name="zcom_hipassembly" value=" 0.003644"/>
	<xacro:property name="m_hipassembly" value="4.973275"/>
	<xacro:property name="ixx_hipassembly" value=" 0.011231"/>
	<xacro:property name="iyy_hipassembly" value=" 0.015768"/>
	<xacro:property name="izz_hipassembly" value=" 0.016863"/>
	<xacro:property name="ixy_hipassembly" value="-0.000592"/>
	<xacro:property name="ixz_hipassembly" value=" 0.000225"/>
	<xacro:property name="iyz_hipassembly" value=" 0.000224"/>

	<!-- Upper leg -->
	<xacro:property name="xcom_upperleg" value="0.107987"/>
	<xacro:property name="ycom_upperleg" value="-0.011459"/>
	<xacro:property name="zcom_upperleg" value="-0.002121"/>
	<xacro:property name="m_upperleg"    value="5.877927"/>
	<xacro:property name="ixx_upperleg" value="0.016432"/>
	<xacro:property name="iyy_upperleg" value="0.075737"/>
	<xacro:property name="izz_upperleg" value="0.079267"/>
	<xacro:property name="ixy_upperleg" value="0.001863"/>
	<xacro:property name="ixz_upperleg" value="0.003897"/>
	<xacro:property name="iyz_upperleg" value="-0.000240"/>

	<!-- Lower leg -->
	<xacro:property name="xcom_lowerleg" value="0.149302"/>
	<xacro:property name="ycom_lowerleg" value="-0.003801"/>
	<xacro:property name="zcom_lowerleg" value="-0.000624"/>
	<xacro:property name="m_lowerleg" value="1.291954"/>
	<xacro:property name="ixx_lowerleg" value="0.001088"/>
	<xacro:property name="iyy_lowerleg" value="0.029215"/>
	<xacro:property name="izz_lowerleg" value="0.029772"/>
	<xacro:property name="ixy_lowerleg" value="-0.000572"/>
	<xacro:property name="ixz_lowerleg" value=" 0.000118"/>
	<xacro:property name="iyz_lowerleg" value=" 0.000460"/>
</robot>

