<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="teleop">
  <!--
  ROS urdf definition of the TELEOP robot by Istituto Italiano di Tecnologia
  
  Author: Enrico Mingo
  
  This file groups files to use COGIMON in GAZEBO
  
  -->
  <xacro:include filename="$(find teleop_description)/urdf/teleop.urdf.xacro" />

  <xacro:include filename="$(find teleop_description)/urdf/gazebo/teleop.gazebo.xacro" />
 
  <xacro:include filename="$(find teleop_description)/urdf/gazebo/teleop_materials.gazebo.xacro" />
  
  <!--xacro:include filename="$(find cogimon_urdf)/urdf/gazebo/force_torque.gazebo.xacro" /-->
  
  

  <xacro:include filename="$(find teleop_description)/urdf/gazebo/xbot_control.gazebo.xacro" />

</robot>
