<?xml version="1.0" ?>
<launch>

    <arg name="robot_name" default="hyq"/>
    <arg name="sensors" default="false" />
    <arg name="internal_wrench" default="false" />
    <arg name="world_name" default="empty.world" />
    <arg name="task_period" default="0.001" />
    <arg name="gazebo_debug" default="false" />
    <arg name="gazebo_gui" default="true" />
    <arg name="full_gui" default="false" />
    <arg name="gazebo" default="true" />
    <arg name="arm_enabled" default="false" />
    <arg name="arm_name" default="teleop" />
    <arg name="input_device" default="ps3" /> <!--Supported: ps3/xbox/twist -->

    <!-- export some params to the param server -->
    <param name="task_period" value="$(arg task_period)"/>
    <param name="internal_wrench" value="$(arg internal_wrench)"/>
    <param name="robot_name" type="str"  value="$(arg robot_name)" />
    <param name="input_device" value="$(arg input_device)"/>

    <!-- Load the robot description -->
    <group if="$(arg gazebo)">
            <include file="$(find wb_controller)/launch/world.launch">
                <arg name="sensors" value="$(arg sensors)" />
                <arg name="robot_name" value="$(arg robot_name)" />
                <arg name="internal_wrench" value="$(arg internal_wrench)" />
                <arg name="world_name" value="$(arg world_name)" />
                <arg name="task_period" value="$(arg task_period)" />
                <arg name="gui" value="$(arg gazebo_gui)"/>
                <arg name="arm_enabled" value="$(arg arm_enabled)"/>
                <arg name="arm_name" value="$(arg arm_name)"/>
                <arg name="debug" value="$(arg gazebo_debug)"/>
            </include>
            <!-- Set the robot to the home position loaded from the SRDF file -->
            <node name="goto0" pkg="wb_controller" type="go0"/>
    </group>

    <group unless="$(arg gazebo)">
        <include file="$(find wb_controller)/launch/upload.launch">
           <arg name="sensors" value="$(arg sensors)" />
           <arg name="robot_name" value="$(arg robot_name)" />
           <arg name="arm_enabled" value="$(arg arm_enabled)"/>
           <arg name="arm_name" value="$(arg arm_name)"/>
           <arg name="task_period" value="$(arg task_period)" />
        </include>
    </group>

    <!-- Loading joint states publisher configurations from YAML file to parameter server -->
    <rosparam file="$(find wb_controller)/params/joint_state_publisher.yaml" ns="/$(arg robot_name)" command="load"/>

    <!-- Load controller config -->
    <group if="$(arg arm_enabled)">
          <rosparam command="load" file="$(find wb_controller)/params/$(arg robot_name)_$(arg arm_name)_params.yaml" ns="$(arg robot_name)"/>
    </group>
    <group unless="$(arg arm_enabled)">
          <rosparam command="load" file="$(find wb_controller)/params/$(arg robot_name)_params.yaml" ns="$(arg robot_name)"/>
    </group>

    <!-- Spawn our controller and its friends -->
    <include file="$(find wb_controller)/launch/wb_controller_spawn.launch">
            <arg name="robot_name" value="$(arg robot_name)" />
            <arg name="extra_controllers" value="joint_state_publisher" />
    </include>

    <!-- rqt_reconfigure gui -->
    <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="gui">
    </node>

    <!-- joy -->
    <arg name="joy_deadzone" default="0.1"/>
    <node pkg="joy" type="joy_node" name="joy_node" ns="/$(arg robot_name)/wb_controller">
            <param name="autorepeat_rate " value="500" />
            <param name="deadzone" value="$(arg joy_deadzone)"/>
    </node>

    <!-- Convert joint states to TF transforms for rviz, etc -->
    <node name="$(arg robot_name)_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
        <remap from="/joint_states" to="/$(arg robot_name)/joint_states"/>
    </node>

    <!-- Same as above, but this time create TF transforms for the solver state estimation -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="ci_state_publisher" >
        <param name="tf_prefix" value="ci" type="str"/>
        <remap from="/joint_states" to="/$(arg robot_name)/ci/joint_states" />
    </node>


    <group if="$(arg full_gui)">


            <!-- rt_gui node launch -->
            <!-- <include  file="$(find rt_gui)/launch/server_node.launch"/> -->

	    <!-- plot node launch -->
	    <include  file="$(find wb_controller)/launch/plot_node.launch">
		<arg name="robot_name" value="$(arg robot_name)" />
	    </include>

            <!-- plotJuggler -->
            <node pkg="plotjuggler" type="plotjuggler" name="plotjuggler" ns="/$(arg robot_name)/wb_controller"
                args="--layout $(find wb_controller)/plot_juggler_files/$(arg robot_name).xml --nosplash">
            </node>

            <!-- Rviz -->
            <node
                type="rviz"
                name="rviz"
                pkg="rviz"
                args="-d $(find wb_controller)/rviz_files/$(arg robot_name)_wbc.rviz" />
   </group>

</launch>
